<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= search.toUpperCase() %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <section class="container mt-5">
        <div class="text-center">
            <h1><%= search.toUpperCase() %></h1>
        </div>
    <ul>
    <% for (movie of movies["Search"]) {%>
        <li>
            <a href="/<%= movie.imdbID %>"> <%= movie.Title %> (<%= movie.Year %>) </a>
        </li>    
     <% } %>
    </ul>
    <form action="/" method="get">
        <button class="btn btn-outline-info mt-2">Search again</button>   
    </form>
</section>
</body>
</html>